
/* blank */
@import 'https://fonts.googleapis.com/css?family=Oswald';
@import url('https://fonts.googleapis.com/css?family=Merriweather:300,300i,400,400i,700,700i,900,900i|Karla:400,400i,700,700i');

h1,h2,h3,h4,h5,h6{
    font-family: 'Merriweather', serif;
    color:green;
    font-weight:500;
}

p, ul, li{
    font-family:'Karla', serif;
    font-size:16px;
    line-height: 1.35em;
}

/*.tag-list::before{*/
/*    content:"Tags :"*/
/*}*/

.top-logo {

    margin-top: 100px;
    margin-bottom: 15px !important;

}

.top-logo {
    width:80%;
}

.top-logo img{
    width:100%;
}


.article-published-date{
    font-size:14px;
    text-transform:uppercase;
    margin-bottom:0px;
}

.tag-list a{
    padding:5px;
    border-radius:3px;
    background:green;
    color:white;

}

.tag-list a:hover{
    padding:5px;
    border-radius:3px;
    background:darkgreen;
    color:white;

}

.tag-list::before{
    content:"Tags :";
    font-family: 'Oswald', serif;
    color:green;
    text-transform:uppercase;

}

.tag-list{
    padding-left:0px;
    font-family: 'Oswald', serif;
    color:green;
    text-transform:uppercase;
}

.uk-list-inline > li {
    list-style: none;
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px;
}

.underlined-title{
    border-bottom: 1px solid darkgreen;
    padding-bottom: 10px;
}

.align_center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.share-social-text{
    font-family: 'Oswald', sans-serif;
    text-transform:uppercase;
    color:green;
}

.MarkupSocialShareButtons{
    display:inline-block;
    padding-left:0px;
}

.MarkupSocialShareButtons li {
    list-style: none;
    display: inline-block;
    /* float:right; */
    margin-right: 10px;
}

.uk-icon-button {
    box-sizing: border-box;
    display: inline-block;
    width: 35px;
    height: 35px;
    border-radius: 100%;
    background: #eee;
    line-height: 30px;
    color: #008000;
    font-size: 18px;
    text-align: center;
    border: 1px solid;
}

.event-date-card{
    position:absolute;
    right: 0;
    top:10px;
    padding-inline: 7px;
}

.event-date-card span{
    background:darkgreen;
    color:white;
    display:block;
    text-align:center;
    padding:5px;
}

.event-date-card span:first-child{
    border-radius:2px 0 0 0;
}

.event-date-card span:nth-child(2){
    margin-top:2px;
    border-radius:0 0 0 2px;
}

.date-time{
    float:right;
    float: right;
    font-size: 30px;
    padding-top: 10px;
    color: darkgreen;
    font-weight: bold;
    height: 40%;
    width: 100%;
    text-align: center;
}

.date-time p {
    margin: 2px;
    font-size: 16px;
    text-align: center;
}


.date-time span{
    line-height: 1.1em;
    font-family:'Merriweather', serif;
    padding:2%;
}

.navbar-ladosis .uk-navbar-nav>li>a{
    font-family: 'Oswald', sans-serif;
    font-size:1.2em;
}

.navbar-ladosis .uk-navbar-nav>li{
    font-family: 'Oswald', sans-serif;
    font-size:1.3em;
}

.navbar-ladosis{
    background: none;
    border: 1px solid darkgreen;
}

.footer-links{
    font-family:Oswald;
    font-size:1.3em;
    color:darkgreen;
}

/*
.uk-dropdown{
    font-size:1.15em
}

.uk-dropdown-navbar{
    background: white;
    border: 1px solid darkgreen;
    margin-top: 5px;
}

.uk-navbar-nav>li>a{
    text-transform: uppercase;
    transition: color 0.3s;
    color:green;
}

.uk-navbar-nav>li:hover>a{
    color: #0dda73;
}

.uk-navbar-nav>li:hover{
    color:  #0dda73;
}

.uk-navbar-nav>li.uk-open>a,
.uk-navbar-nav>li:hover>a,
.uk-navbar-nav>li>a:focus {
    background-color: white;
    color: #0dda73;
    outline: 0;
}

.uk-nav-navbar>li>a:focus, .uk-nav-navbar>li>a:hover {
    background: #104810;
    color: #fff;
    outline: 0;
}


.uk-navbar-nav>li.selected, .uk-offcanvas-bar .uk-nav li.selected{
    background:darkgreen;
}

.uk-navbar-nav>li.selected>a, .uk-offcanvas-bar .uk-nav li.selected a{
    color:white;
}

.uk-offcanvas-bar{
    background:#f7f7f7;
}


.uk-offcanvas-bar .uk-nav li a{
    color:darkgreen;
    font-family:Oswald;
    font-size:1.3em
}



ul.uk-nav-sub{
    padding-left:30px;
}

.uk-navbar-nav>li.selected, .uk-offcanvas-bar .uk-nav li.selected{
    background:darkgreen;
}

.uk-navbar-nav>li.selected>a, .uk-offcanvas-bar .uk-nav li.selected a{
    color:black;
}
*/
