
/* blank */
@import 'https://fonts.googleapis.com/css?family=Oswald';

h1,h2,h3,h4,h5,h6{
    font-family: 'Oswald', sans-serif;
}

.tag-list::before{
    content:"Tags :"
}

.top-logo {

    margin-top: 100px;
    margin-bottom: 15px !important;

}

.top-logo {
    width:80%;
}

.top-logo img{
    width:100%;
}

#titulo {
    color: #43d08a;
}